@model      SchoolBoard.Models.StudentModels.StudentDetail
   


<h2>@Model.Name</h2>

<table>
    <tbody>
        
          @Html.Partial("CreatePost", new SchoolBoard.Models.PostModels.PostCreate())
    </tbody>
</table>

