@model      SchoolBoard.Models.StudentModels.StudentDetail
   



<table>
    <tbody>
        
          @Html.Partial("CreatePost", new SchoolBoard.Models.PostModels.PostCreate())
    </tbody>
</table>

<table>
    @foreach (var post in Model.Posts)
    {
    <tbody>
    <tr>
        <td>
            @post.Title
        </td>
        <td>
            @post.Body
        </td>
        </tr>
    </tbody>}
</table>