body {
    padding-top: 50px 0 20px 0;
    padding-bottom: 20px;
    background-color:darkslategray;
    background-size: cover;
    background-image: url(../Images/ChalkBoard.jpg);
  

    
    background-repeat:no-repeat;
    color:ivory;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:initial;
    font-style:italic;
}
.navbar{
    box-shadow: 0 5px 4px -6px #000;
   
}

.navbar li{
    font-weight: normal;
}


.navLogo {
    background-image: url("../Images/SchoolBoard_Logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    width: 150px;
    margin-right: 12px;
}

.postAuthor{
    font-weight:900;
    text-decoration:underline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
