@model SchoolBoard.Models.CourseModels.CourseDetail

<h2>@Model.CourseName</h2>
@{ if (Model.Students.Any())
    {
        <h3>Satisfactory Progress</h3>
        foreach (var student in Model.Students)
        {



            if (student.GPA >= 2.5)
            {

                <table class="table-hover" id="studentList">

                    <tbody>


                        <tr>
                            <td>
                                <a style="color: ghostwhite" href="~/Student/Details/@student.Id">
                                    @student.Name
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            }
        }
    }
}
<h3>Need Remediation</h3>
@{foreach (var student in Model.Students)
    {

        if (student.GPA < 2.5)

        {

            <table class="table-hover" id="studentList">

                <tbody>
                    <tr>
                        <td>
                            <a style="color: ghostwhite" href="~/Student/Details/@student.Id">
                                @student.Name
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>


        }
    }
}




