@model SchoolBoard.Models.Student.CourseStudentIndexModel

<h2>Students</h2>

<table class="table table-hover" id="courseStudentTable">
    @foreach(var student in Model.Students)
            {
                <tr>
                    <td>
                        <a asp-controller="Student" asp-action="Detail" asp-route-id="@student.Id">@student.Name</a> 
                    </td>
                </tr>
            }
</table>
