@model SchoolBoard.Models.CourseModels.CourseIndexModel

<h2>Courses</h2>
<table class="table table-hover" id="courseIndexTable">
    <tbody>
        @foreach(var course in Model.Courses)
            {
                <tr>
                    <td>
                        <a href="~/Course/Student/@course.Id" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                            @course.Name
                        </a>
                        
                    </td>
                </tr>
            }
    </tbody>
</table>
