@model SchoolBoard.Models.CourseModels.CourseStudentListModel
    <h2>Students</h2>

<table class="table table-hover" id="courseStudentListTable">
    <tbody>
        @foreach(var student in Model.Students)
            {
                <tr>
                    <td>
                        @student.Name
                    </td>
                </tr>
            }
    </tbody>
</table>

