@model SchoolBoard.Data.ApplicationUser

@{
    ViewBag.Title = "SchoolBoard";
}

<h2>SchoolBoard</h2>
@if (!User.Identity.IsAuthenticated) 
{<h3>Welcome Educators</h3>}

<h3>Welcome @User.Identity.Name</h3>
<div>@{ if (User.Identity.IsAuthenticated)
    {

    <p>
        @Html.ActionLink("My Courses", "Index", "Course")
    </p>

    }
   
    }
   
    </div>




