@model SchoolBoard.Data.ApplicationUser
@{
    ViewBag.Title = "SchoolBoard";
}
<h2>SchoolBoard</h2>
@if (!User.Identity.IsAuthenticated)
{
    <h3>Welcome To SchoolBoard</h3>
}
<h3>
    Hello @ViewData["FullName"]!
</h3>
<div>
    @{ if (User.Identity.IsAuthenticated)
        {
            <p>
                @Html.ActionLink("Courses", "Index", "Course")
            </p>
            <p>
                @Html.ActionLink("My Courses", "MyCourses", "Course")
            </p>
        }
    }
</div>